.crocoblock-alert {
	background: rgba(97, 123, 229, 0.08);
	padding: 33px 50px;
	border-radius: 4px;
	margin-bottom: 30px;
	
	&__title {
		color: #162B40;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 6px;
	}
	&__content {
		display: block;
		font-style: italic;
		font-weight: 500;
		font-size: 16px;
		line-height: 23px;
		color: #5C6B79;
		margin: 0 !important;
	}
	
	&:before {
		content: '';
		float: left;
		margin:13px 40px 0 0;
		width: 72px;
		height: 68px;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='72' height='69' viewBox='0 0 72 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.5361 61.6012C28.5361 65.2454 31.4904 68.1995 35.1344 68.1995C38.7785 68.1995 41.7328 65.2454 41.7328 61.6012V61.2539H28.5361V61.6012Z' fill='%23ACABB1'/%3E%3Cpath d='M35.1344 57.0864H33.0508H28.5361V61.2538H41.7328V57.0864H37.2181H35.1344Z' fill='%23565659'/%3E%3Cpath d='M33.05 43.5989C29.8471 42.6893 27.4935 39.7403 27.4935 36.2499H31.6608C31.6608 38.1648 33.2187 39.7227 35.1336 39.7227C35.1336 30.9494 35.1336 21.0037 35.1336 15.4131C25.1123 15.4131 16.9883 23.5369 16.9883 33.5585C16.9883 40.2828 20.646 46.1525 26.0802 49.2873L28.5353 57.0867H33.05V43.5989Z' fill='%23FFE98F'/%3E%3Cpath d='M35.1338 15.4131C35.1338 21.0037 35.1338 30.9494 35.1338 39.7227C37.0487 39.7227 38.6066 38.1648 38.6066 36.2499H42.7739C42.7739 39.7403 40.4204 42.6893 37.2175 43.5989V57.0867H41.7321L44.1872 49.2873C49.6215 46.1526 53.2792 40.2829 53.2792 33.5585C53.2792 23.5369 45.1552 15.4131 35.1338 15.4131Z' fill='%23FFDA44'/%3E%3Cpath d='M31.6605 36.25H27.4932C27.4932 39.7404 29.8467 42.6894 33.0496 43.599V57.0868H37.217V43.599C40.4199 42.6894 42.7735 39.7404 42.7735 36.25H38.6061C38.6061 38.1649 37.0482 39.7228 35.1333 39.7228C33.2184 39.7228 31.6605 38.1649 31.6605 36.25Z' fill='%23FF9811'/%3E%3Crect x='33.9775' y='0.800781' width='3.23595' height='9.70786' fill='%23FFDA44'/%3E%3Crect y='36.3965' width='2.42697' height='10.5169' transform='rotate(-90 0 36.3965)' fill='%23FFDA44'/%3E%3Crect x='61.4834' y='36.3965' width='2.42697' height='10.5169' transform='rotate(-90 61.4834 36.3965)' fill='%23FFDA44'/%3E%3Cpath d='M54.3638 17.7894L52.584 15.8478L59.7031 8.08154L61.4829 10.0231L54.3638 17.7894Z' fill='%23FFDA44'/%3E%3Cpath d='M16.6649 17.7894L18.6064 15.8478L10.8402 8.08154L8.89858 10.0231L16.6649 17.7894Z' fill='%23FFDA44'/%3E%3C/svg%3E");
		
		@media (max-width: 940px) {
			content: none;
		}
	}
	@media (max-width: 940px) {
		padding: 33px;
	}
}
