table {
	width: 100%;

	td, th {
		border: 1px solid $border_color;
		padding: 10px;
		font-size: 14px;
		a {
			font-weight: 500;
		}
	}
	thead {
		th {
			font-weight: 500;
		}
	}
}

#package-information {
	tr {
		th:first-child,
		td:first-child {
			width: 33%;
			br {
				display: none;
			}
		}
	}
}

.account-tabs__content {
	tbody {
		tr:nth-child( odd ) {
			background: $boxes_bg_color;
		}
	}
}

.edd-checkout,
.edd-success {
	.entry-content {
		max-width: $content_width;
		margin: 0 auto;
	}
}

#edd_checkout_cart {
	margin-bottom: 45px;
	tbody {
		tr {
			background: $boxes_bg_color;
		}
	}
	.edd_cart_actions {
		text-align: right;
		padding-right: 20px;
	}
	.edd_cart_total {
		text-align: right;
		padding: 15px 20px;
	}
}

#edd_purchase_receipt,
#edd_subscription_receipt {
	tbody {
		tr:nth-child( odd ) {
			background: $boxes_bg_color;
		}
	}
}

#edd_subscription_receipt {
	td {
		br {
			display: none;
		}
	}
}