.site-header {
	position: relative;
	z-index: 10;
}
.site-header {
	border-bottom: 1px solid $border_color;
	padding: 10px 0;
	&__wrap {
		padding-top: 0;
		padding-bottom: 0;
	}
	.header-container__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media ( max-width: 1024px ) {
			flex-direction: column;
		}
	}
	.main-navigation {
		box-sizing: border-box;
	}
	.main-navigation,
	.header-actions {
		flex: 0 0 38%;
		max-width: 38%;
		@media ( max-width: 1024px ) {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.header-logo {
		flex: 0 0 24%;
		max-width: 24%;
		text-align: center;
		padding: 8px 14px 0 0;
		@media ( max-width: 1024px ) {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 8px 0;
		}
	}
}

.header-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px 0 0 0;
	&__account-link {
		margin: 1px 0 5px;
		display: block;
		font-size: 13px;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 14px;
		letter-spacing: 0.7px;
		color: $text_color;
		&:hover {
			color: $primary_color;
		}
	}
	&__support {
		position: relative;
		padding: 0 0 5px;
		margin-right: 4px;
		z-index: 900;

		&-link {
			display: block;
			font-size: 13px;
			font-weight: 400;
			text-transform: uppercase;
			line-height: 14px;
			letter-spacing: 0.7px;
			color: $text_color;
			background-color: none;
			padding: 8px 13px 7px 13px;
			border-radius: 3px;
			border: 1px solid $border_color;
			margin-left: 22px;
			/*&:hover {
				border-color: $text_color;
				background-color: $text_color;
				color: #fff;
			}*/
		}
		&-menu {
			position: absolute;
			right: 0;
			top: -999em;
			padding: 10px 6px;
			background: #fff;
			box-shadow: 0 4px 20px rgba( 22, 43, 64, 0.1 );
			width: 130px;
			text-align: right;
			border-radius: 3px;
			opacity: 0;
			transform: translateY( 10px );
			transition: opacity 150ms ease-in, transform 150ms ease-in;

			.menu {
				margin: 0;
				padding: 0;
				.menu-item {
					list-style: none;
					padding: 0;
					a {
						display: block;
						font-size: 13px;
						line-height: 20px;
						padding: 1px 10px;
						color: #8A939C;
						font-weight: 400;
						border-radius: 3px;
						&:hover {
							background: $boxes_bg_color;
							color: $primary_alt_color;
						}
					}
				}
			}
		}
		&:hover {
			.header-actions__support-menu {
				top: 100%;
				opacity: 1;
				transform: translateY( 0 );
			}
		}
	}
}