div #was-this-helpful {
	background: rgba(97, 123, 229, 0.08);
	border-radius: 3px;
	margin: 20px 0 40px;
	padding: 35px 10px;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	color: #162B40;
	
	#wthf-yes-no {
		margin-bottom: 4px;
		span {
			background: #FFFFFF;
			border: 1px solid #E4E8ED;
			border-radius: 3px;
			padding: 10px 20px 10px 22px;
			box-shadow: none;
			margin-right: 14px;
			font-weight: bold;
			font-size: 14px;
			color: #162B40;
			line-height: 1;
			
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-right: 8px;
				width: 24px;
				height: 24px;
			}
			&:first-child {
				&:before {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 21H5V9H1V21ZM23 10C23 8.9 22.1 8 21 8H14.69L15.64 3.43L15.67 3.11C15.67 2.7 15.5 2.32 15.23 2.05L14.17 1L7.59 7.59C7.22 7.95 7 8.45 7 9V19C7 20.1 7.9 21 9 21H18C18.83 21 19.54 20.5 19.84 19.78L22.86 12.73C22.95 12.5 23 12.26 23 12V10Z' fill='%23617BE5'/%3E%3C/svg%3E");
				}
			}
			&:last-child {
				&:before {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 3H6C5.17 3 4.46 3.5 4.16 4.22L1.14 11.27C1.05 11.5 1 11.74 1 12V14C1 15.1 1.9 16 3 16H9.31L8.36 20.57L8.33 20.89C8.33 21.3 8.5 21.68 8.77 21.95L9.83 23L16.42 16.41C16.78 16.05 17 15.55 17 15V5C17 3.9 16.1 3 15 3ZM19 3V15H23V3H19Z' fill='%23617BE5'/%3E%3C/svg%3E");
				}
			}
		}
	}
}