#wp_query_generator {
	padding: 30px 0 80px;
}
.wp-query-tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__nav {
		width: 22%;
		flex: 0 0 22%;
		box-sizing: border-box;
		padding-right: 40px;
		@media ( max-width: 939px ) {
			width: 100%;
			flex: 0 0 100%;
			padding: 0 0 20px;
			display: flex;
		}
		&-item {
			display: block;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			padding: 10px;
			text-decoration: none;
			color: #162b40;
			border-radius: 3px;
			cursor: pointer;
			&:hover {
				color: $primary_color;
			}
			&.wp-query-tabs__nav-item--active {
				color: #fff;
				background: $primary_color;
			}
			@media ( max-width: 939px ) {
				font-size: 12px;
				padding: 3px 5px;
			}
		}
	}

	&__content {
		width: 78%;
		flex: 0 0 78%;
		@media ( max-width: 939px ) {
			width: 100%;
			flex: 0 0 100%;
			padding: 0 0 20px;
		}
		&-row {
			padding: 0 0 20px;
		}
		h4 {
			font-size: 20px;
			line-height: 35px;
			padding: 3px 0 15px;
			font-weight: 500;
			margin: 0;
		}
		label {
			cursor: pointer;
		}
	}
}

.wp-query-control {
	&__desc {
		color: #8a939c;
		font-size: 12px;
		padding: 5px 0 0 0;
		.wp-query-repeater & {
			font-size: 11px;
		}
	}
	&--checkbox {
		label {
			display: inline-block;
			padding: 0;
		}
		input {
			margin: 0 5px 0 0;
			vertical-align: middle;
		}
		.wp-query-control__desc {
			margin: 0 0 0 22px;
		}
	}
	select {
		-webkit-appearance: none;
	}

}

.wp-query-repeater {
	&__row {
		display: flex;
		margin: 0 -5px 10px;
		&-item {
			padding: 5px;
		}
		&.date-query {
			.wp-query-repeater__row-item:nth-child(1),
			.wp-query-repeater__row-item:nth-child(2),
			.wp-query-repeater__row-item:nth-child(3),
			.wp-query-repeater__row-item:nth-child(4) {
				max-width: 114px;
			}
		}
	}
	&__remove {
		align-self: top;
		height: 42px;
		width: 42px;
		padding: 0;
		text-align: center;
		line-height: 40px;
		font-size: 18px;
		margin: 30px 0 0 5px;
		background: #f2696d;
		&:hover {
			background: darken( #f2696d, 10% );
		}
	}
}

.wp-query-result {
	padding: 30px;
	border-radius: 3px;
	background: #f4f5f7;
	margin: 30px 0 0 0;
	&__title {
		font-size: 20px;
		line-height: 35px;
		padding: 0;
		font-weight: 500;
		margin: 0;
		color: #3b3d42;
	}
	&__content {
		font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
		color: #c7254e;
		font-size: 13px;
		padding: 10px;
		border: 1px dotted #c7254e;
		background: #f9f2f4;
		margin: 0 0 30px;
		border-radius: 4px;
		white-space: pre-wrap;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 20px;
		margin-top: -5px;
	}
	&__actions {
		display: flex;
		align-items: center;
	}
	&__msg {
		margin: 0 0 0 15px;
		&-item {
			display: flex;
			background: #fff;
			color: $primary_color;
			padding: 3px 10px 3px 3px;
			font-weight: 400;
			span {
				width: 28px;
				height: 28px;
				line-height: 28px;
				text-align: center;
				background: $primary_color;
				color: #fff;
				margin: -3px 10px -3px -3px;
				display: block;
				position: relative;
				&:before {
					position: absolute;
					right: 100%;
					top: 50%;
					margin: -6px 0 0 0;
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 6px 6px 6px 0;
					border-color: transparent $primary_color transparent transparent;
				}
			}
			&.wp-query-result__error {
				color: #f2696d;
				span {
					background: #f2696d;
					&:before {
						border-color: transparent #f2696d transparent transparent;
					}
				}
			}
		}
	}
}

.wp-query-switcher {
	display: flex;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0 1px 2px rgba( 0, 0, 0, .1 );
	&__item {
		padding: 5px 0 4px;
		cursor: pointer;
		width: 50px;
		text-align: center;
		font-size: 11px;
		line-height: 16px;
		font-weight: 500;
		background: #fff;
		&.wp-query-switcher-active {
			background: $primary_color;
			color: #fff;
			&:hover {
				color: #fff;
			}
		}
		&:hover {
			color: $primary_color;
		}
	}
}

.slide-in-out {
	&-enter-active,
	&-leave-active {
		transition: all 100ms;
	}
	&-enter,
	&-leave-to {
		opacity: 0;
		transform: translateX( 10px );
	}
}