.upsells-list {
	display: flex;
	margin: 0 -20px;
	flex-wrap: wrap;
}

.upsell-item {
	padding: 20px;
	max-width: 33.33333%;
	flex: 0 0 33.33333%;

	@media ( max-width: 939px ) {
		max-width: 50%;
		flex: 0 0 50%;
	}

	@media ( max-width: 640px ) {
		max-width: 100%;
		flex: 0 0 100%;
	}

	&__thumb-link {
		position: relative;
		display: block;
	}

	&__excerpt {
		position: absolute;
		bottom: 30px;
		left: 30px;
		right: 30px;
		border-left: 4px solid;
		min-height: 84px;
		padding: 0 0 0 10px;
		color: #fff;
		font-size: 16px;
		line-height: 21px;
	}

	&__content {
		background: #fff;
		transition: all 150ms linear;
		&:hover {
			box-shadow: 0 4px 20px rgba( 22, 43, 64, 0.15 );
		}
		&-wrap {
			padding: 30px;
			border-top: 1px solid $border_color;
		}
	}
	&__name {
		font-weight: 500;
		line-height: 23px;
		font-size: 16px;
		text-transform: capitalize;
	}
	&__links {
		padding: 20px 0 0 0;
		display: flex;
		justify-content: space-between;
		.btn {
			width: 48.33333%;
			font-weight: 500;
			line-height: 23px;
			font-size: 13px;
			line-height: 20px;
			padding: 10px 0;
			letter-spacing: 0.05em;
		}
	}
	&__demo-link {
		&.btn {
			background: $primary_alt_color;
			&:hover {
				background: darken( $primary_alt_color, 10% ) !important;
			}
		}
	}
	&__buy-link {
		&.btn {
			background: $primary_color;
			&:hover {
				background: darken( $primary_color, 10% ) !important;
			}
		}
	}
	&__thumb {
		display: block;
		width: 100%;
	}
	&__actions {
		padding: 30px;
	}
	&__buy-btn {
		.upsells-list .upsell-item & {
			width: 100%;
			font-weight: 500;
			font-size: 13px;
			line-height: 20px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			padding: 10px 0;
			text-align: center;
			background: $primary_color;
			&:hover {
				background: darken( $primary_color, 10% ) !important;
			}
			&[disabled] {
				color: $text_color;
				border: 1px solid $border_color;
				padding: 9px 0;
				background: none;
				&:hover {
					background: none !important;
				}
			}
		}
	}
}

.upsell-cases {
	padding: 0 0 5px;
	&__item {
		cursor: pointer;
		display: flex;
		align-items: center;
		margin: 0 0 15px;
		font-size: 14px;
		line-height: 20px;
		&-radio {
			box-sizing: border-box;
			width: 20px;
			height: 20px;
			border: 2px solid $border_color;
			border-radius: 10px;
			margin: -2px 9px 0 0;
			position: relative;
			.active-case & {
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					content: "";
					width: 10px;
					height: 10px;
					border-radius: 5px;
					background: $text_color;
					margin: -5px 0 0 -5px;
				}
			}
		}
		&-name {
			font-weight: 500;
			line-height: 23px;
		}
		&-amount {
			font-weight: 300;
			margin: 0 0 0 4px;
		}
	}
}
